<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input_data</title>
</head>
<body>
      <form method="POST" action="#">
        <label for="title">Title</label>
        <input type="text" 
        name="title" 
        required 
        placeholder="title of project"
        id="title">
        <br>
        <label for="description">Description</label>
        
          <textarea id="description" row="50" 
          col="70" 
          name="description" placeholder="describe your project"></textarea>
        <br>
        <label for="image">Project Image</label>
        <input type="file" id="image" name="file">
        <input type="submit" value="SUBMIT">
      </form>
</body>
</html>
  