{% extends "base.html"%}

{% block top %}  <title>Input_data</title> {% endblock %}

{% block content %}
<body>
      <form method="POST" action="#" enctype=multipart/form-data>
        <label for="title">Title</label>
        <input type="text" 
        name="title" 
        required 
        placeholder="title of project"
        id="title">
        <br>
        <label for="description">Description</label>
        
          <textarea id="description" row="50" 
          col="70" 
          name="description" 
          placeholder="describe your project" 
          required></textarea>
        <br>
        <label for="image">Project Image</label>
        <input type="file" id="image" name="image">
        <input type="submit" value="SUBMIT">
      </form>
</body>
{%endblock%}
  